six
invoke==1.3.0
paramiko==2.6.0
fabric==2.5.0
pyserial==3.4
wheel>=0.33.4
junit-xml==1.9
typing==3.7.4
pytest==4.6.7
pytest-html==1.22.1
pytest-metadata==1.8.0
pytest-pythonpath==0.7.3
pytest-cov==2.8.1
pandas==0.24.2
np
py-dmidecode==0.1.0
pywin32
wmi
xmltodict==0.12.0
requests==2.24.0
configobj
importlib_metadata==0.23
pathlib
py7zr==0.10.1
--only-binary=py7zr,pycryptodome,texttable
matplotlib==2.2.5
